{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "preserveAllComments": false,
    "minify": {
      "mangle": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "minify": true,
  "module": {
    "type": "es6",
    "resolveFully": true
  }
}
